button {
  color: rgb(240, 240, 240);
  border-radius: 8px;
  width: 128px;
  height: 32px;
  font-weight: bold;
  font-size: 16px;
}

.fetchAntsButton {
  background-color: darkblue;
}

.startRaceButton {
  background-color: darkgreen;
}