th, td {
  border: 1px solid black;
}

.probabilityDisplayContainer {
  border: 2px solid black;
  border-radius: 20px;
  margin-inline: 10%;
  margin-block: 2%;
  text-align: center;
}

.probabilitiesTableTitle {
  border-radius: 18px 18px 0 0;
}

.finalLeftCell {
  border-radius: 0 0 0 18px;
}

.finalRightCell {
  border-radius: 0 0 18px 0;
}

.raceTableColumnHeaders {
  font-weight: bold;
}
